@import "src/styles/colors";
@import "src/styles/sizes";

.container {
    width: 100%;
    height: $mediumSmallHeight;
    transition: .1s;
    background: $lightGray;
    color: $darkWhite;
    pointer-events: none;
    border-radius: $smallOffset;
    border: none;
    outline: none;

    &.active {
        pointer-events: auto;
        background: $markBlueLight;
        color: $white;
        cursor: pointer;

        &:hover {
            background: lighten($markBlueLight, 1.2);
        }
    }
}